# VelochatX 1.0beta
# build java version: JE 17
# author: waterwood
# Available language zh,en
ConfigVersion: 1.3.0
check-update:
  enable: enable
  auto-download: false

# use like {xxx} to parse values for your chat text
# Group: return the Group DisplayName which the player is in.
# Prefix/Suffix: return pre/suffix of the player
# Server: return which server player is in(display can be replaced below);
# player: return player's name
# Message: player's chat text
# NOTE : SERVER && MESSAGE && PlayName are both required,necessity.
# if one of them is missing, it will use default chat format:[{Server}]{PlayerName}: {Message}
# you can use like §x to change the text color(covering original display color of luckperms)
chat-format: "{Group}{Server}{Prefix}{Player}{Suffix} §8:§r {Message}"

# this option change plugin messages. it won't change message.yml && config.yml!
# usually config.yml && message.yml generate depending on your VCM default language.
locale: en

# global/locale  set to display player information (mentions, private chats, etc.)
# -whether based on the language of the player's client or server.
# global: display to players based on the language of the server (customizable message settings can be changed)
# locale: display various player messages based on the language of the player's client (unable to customize me
#  -ssages, only built-in default plugin messages can be displayed)
player-locale: global

# whether log all players' chat message in the terminal?
# if this was disabled can save your server's memory(a little)
# if your server has huge number of players,i recommended set the attribute(enable) to disable.
# will not influence in game color output
log-text:
  enable: true
  # whether convert the mc color code "§/&" to ANSI to show text color in terminal.
  # if set false,will remove all the chat code and output text
  convert: true

# convert the server name to the display name of the server.
# below the "display" are servers' name in your velocity server -> Velocity.toml -> [servers]
# which are replaced when play send messages.
# e.g. [Lobby]steven: hello -> [大厅服]steven: hello
server-display:
  enable: true
  display:
    lobby: "[§dLobby§r]"
    server2: "[§2Survivor§r]"
    proxy: "[§5VCLO]§r"

# Do need to send a departure message on the original server and a join message on the joined server when
# -the player leaves/joins the sub server
join-leave-broadcast:
  enable: true
  log-to-console: true
  send-to-all-subServer: false
  player-join-message: "§a(+)§r{Group}{Prefix}{Player}{Suffix} has joined the {Server}"
  player-leave-message: "§c(-)§r{Group}{Prefix}{Player}{Suffix} has left the {Server}"

# Do need to send a departure message on the proxy server and a join message on the proxy server when
# -the player leaves/joins the proxy
join-leave-proxy-broadcast:
  enable: true
  log-to-console: true
  send-to-all-subServer: true
  player-join-message: "§a[+]§r{Group}{Prefix}{Player}{Suffix} now joined the {Server}"
  player-leave-message: "§c[-]§r{Group}{Prefix}{Player}{Suffix} now leave the {Server}"

# Whether show title to target player when mention him.
mention-show-title:
  enable: true
  # how long will the title stay.fade in,out.Use seconds.(Integer)
  time:
    fade-in: 1
    stay: 2
    fade-out: 1

# replace tab-list scoreboard when play press tab button
# interval should be higher when player's total number is large.
# it might take lots of resources when player's number getting larger.
tab-list:
  enable: true
  interval: 1000 # refresh interval use millions seconds (ms)
  format: "{server}{prefix}{player}{Suffix}" #display each row of tab list  reference by chat format and server placeholder
  header: "Welcome you Join {proxy} Current Server: {server}"
  footer: "ONLINE: {online} | Ping: §8{ping}"

# ban words,split with ","
ban-words:
  enable: true
  log-to-console: true
  words: "fuck,bitch,baga,son of bitch"